<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <service
            android:name="com.newchar.debugview.FloatViewService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="com.newchar.debugview.init.InitContainer"
            android:authorities="com.newchar.InitContainer"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>